<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
 {{>nevbar}}
   <!-- main header -->
   <div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main-header_right align-items-center">
                    <figure>
                        <img src="images/my_photo.jpg" alt="ketan" class="img-fluid" title="Ketan Dhanvijay">
                    </figure>
                </div>
                <!-- right side div -->
                <div class="col-md-6 col-12 main-header_left">
                    <p>Welcome to my profile</p>
                    <h1> I am <span class="txt_clr"> full stack developer </span> From the nagpur City</h1>
                    <a href="https://github.com/Ketankd519"><button>About .<i class="fa-brands fa-square-github"></i></button></a>
                </div>
            </div>
        </div>
    </div>
   </div>
<!-- footer side -->
{{>footer}}
</body>
</html>