<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>nevbar}}
    
    <!-- main header  -->
    <div class="container-e">
        <div class="card">
            <div class="imgbox">
                <img src="images/img1.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Akash Mishra<br><span>Transport Manager</span></h2>
                    <ul class="social_icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100013213639168"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/_mr.akashmishra_?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img2.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Sankalp Pandey<br><span>Sales Recruiter</span></h2>
                    <ul class="social_icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100074820713289"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/sankalp_pandeyji?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img3.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Sofiyan Sheikh<br><span>Data Scientist</span></h2>
                    <ul class="social_icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100009351277967"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/_sofiyansheikh_?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img4.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Prabhjot Singh Taati<br><span>Senior office Incharge</span></h2>
                    <ul class="social_icons">
                        <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/_.prabh_singh._?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img5.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Sahil Gour<br><span>Software Testing Engineer</span></h2>
                    <ul class="social_icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100006202729147"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/sahilgour___?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img6.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Saurabh Mishra<br><span>Software Developer</span></h2>
                    <ul class="social_icons">
                        <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/sourabhmishra680?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img7.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Mohammed zubair<br><span>Human Resource(HR)</span></h2>
                    <ul class="social_icons">
                        <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/mr_zubii_20?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="images/img8.jpeg">
            </div>
            <div class="content">
                <div class="detail">
                    <h2>Ketan Dhanvijay<br><span>Full Stack Developer</span></h2>
                    <ul class="social_icons">
                        <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/_mr__ketan__?igshid=NzZlODBkYWE4Ng=="><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>   
        </div> 
    </div>
{{>footer}}
</body>
</html>