<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   <!-- main header -->
   <div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-12 col-12 main-header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/error_page.png" alt="ketan" class="img-fluid" title="Ketan Dhanvijay">
                    </figure>    
                     <h1>{{errmsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
   </div>
</body>
</html>